@model OrderModel
@{
    var count = 1;
}
<h2>Исправить заказ:</h2>

<h4>@Model.Name</h4>
<form asp-action="UpdateOrder" asp-controller="Order" id="orderForm">
    <div class="form-row">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group col-md-5">
            <label asp-for="Name">Название заказа:</label>
            <input asp-for="Name" class="form-control" placeholder="Введите название заказа">
            <span asp-validation-for="Name" class="text-danger"></span>

        </div>
        <div class="form-group col-md-5">
            <label asp-for="Date">Дата:</label>
            <input asp-for="Date" class="form-control" required value="@DateTime.Now.ToString("yyyy-MM-ddThh:mm:ss")" placeholder="Дата заказа">
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Provider.Id">Поставщик:</label>
        <select asp-for="Provider.Id" asp-items="ViewBag.Providers" class="form-control"></select>
    </div>
    <button type="submit" class="btn btn-primary" id="btnSaveOrder">Сохранить</button>
</form>
    <div id="orderItemContainer">
        <div class="row">
            <div id="orderItemForm">
                @{ await Html.RenderPartialAsync("_OrderItems", new OrderItemModel()); }
            </div>
            <input class="btn btn-info" type="button" id="btnAddItem" value="Добавить"/>
            <table class="table table-hover" id="orderItemsTable">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Название:</th>
                    <th scope="col">Количество:</th>
                    <th scope="col">Unit</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr onclick="LoadItemToForm()">
                        <th scope="row">@count</th>
                        <td hidden>@orderItem.Id</td>
                        <td>@orderItem.ItemName</td>
                        <td>@orderItem.Quantity</td>
                        <td>@orderItem.Unit</td>
                    </tr>
                    count++;
                }
                </tbody>
            </table>
        </div>
    </div>
<div>
    <a asp-action="Index" asp-controller="Home">Назад к списку заказов</a>
</div>

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        let form = $("#orderForm");
        let orderItemList = [];

        function LoadItemToForm() {
            $("#orderItemForm").load("@Url.Action("")")
        }

        $("#orderItemsTable tbody tr").each(function (index, element) { 

            let tds = $(this).find('td');
            let idClmn = tds.eq(0);
            let nameClmn = tds.eq(1);
            let quantityClmn = tds.eq(2);
            let unitClmn = tds.eq(3);
            let orderItem = {};

            orderItem.id = idClmn.text();
            orderItem.itemName = nameClmn.text();
            orderItem.quantity = Number(quantityClmn.text().replace(',','.'));
            orderItem.unit = unitClmn.text();

            orderItemList.push(orderItem);
            console.log(orderItemList);
        });
        let count = orderItemList.length+1;
        $("#btnAddItem").on("click",
            function () {
                let qty = Number($("#Quantity").val().replace(',', '.'));
                let item = AddItemToTable($("#ItemName").val(), qty, $("#Unit").val(), count);
                orderItemList.push(item.orderItem);
                $("#orderItemsTable").append(item.rowString);
                count++;
                console.log(orderItemList);
                $("#ItemName").val('');
                $("#Quantity").val('');
                $("#Unit").val('');
            });


        form.on("submit",
            function(e) {
                e.preventDefault();
                let order = JSON.stringify({
                    id: "@Model.Id",
                    name: $("#Name").val(),
                    date: $("#Date").val(),
                    provider: {
                        id: $("#Provider_Id").val(),
                        name: $("#Provider_Id option:selected").text()
                    },
                    orderItems: orderItemList
                });
                if (form.valid()) {
                    $.ajax({
                        url: form.attr("action"),
                        data: order,
                        type: "PUT",
                        contentType: "application/json",
                        success: function() {
                            window.location = "@Url.Action("Index", "Home")";
                        },
                        error: function(result) {
                            console.log(result);
                            alert("Ошибка добавления");
                        }
                    });
                }
            });

    </script>
}